<ion-header>
  <ion-toolbar>
    <ion-title>
      Header Toolbar
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
      <ion-card-title>Card Title</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      Keep close to Nature's heart... and break clear away, once in awhile, and
      climb a mountain or spend a week in the woods. Wash your spirit clean.
    </ion-card-content>
  </ion-card>

  <ion-button color="primary">Primary</ion-button>
  <ion-button color="secondary">Secondary</ion-button>
  <ion-button color="tertiary">Tertiary</ion-button>
  <ion-button color="success">Success</ion-button>
  <ion-button color="warning">Warning</ion-button>
  <ion-button color="danger">Danger</ion-button>

  <ion-row>
    <ion-col size="12"> This column will take 12 columns </ion-col>
    <ion-col size="6"> This column will take 6 columns </ion-col>
    <ion-col size="6"> This column will take 6 columns </ion-col>
  </ion-row>

  <ion-button color="primary" (click)="tutorial()">
    Tutorial
  </ion-button>

</ion-content>